.container{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    margin-top: 10px;
    height: 650px;
    width: 600px;
    color: white;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(137, 137, 245),rgb(10, 120, 245) );
    gap: 20px;
    justify-content: space-evenly;
}
.btn{ 
    
  
    align-items: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 120px;
    height: 60px;
    text-align: center;
    border-radius: 20PX;
    
}

h3{
    margin: auto;
    text-align: center;
    font-weight: bold;

}
.link{
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    
    
}
.title{
    text-align: center;
    justify-content: center;
    
}
p{
    font-weight: bold;
    font-size: 25px;
    justify-content: center;
    text-align: center;
}
h2{
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    background: -webkit-linear-gradient(white, grayscale);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.img-container{
    width:  400px;
    align-items: center;
   align-items: center;
   justify-content: center;
   margin: auto;
  
    
  
}
.img{
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}