.container{
   margin: auto;
    padding-bottom: 40px;
    font-weight: bold;
    height: 650px;
    width: 600px;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(137, 137, 245),rgb(10, 120, 245) );
}
.w-btn{
   
    color: white;
    border-style: solid;
    border: 2px;
    border-color: white;
    border-radius: 15px;
    background-color: rgb(155, 155, 238);
    width: 100px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon{
    stroke-width: 4px;
    font-size: 20px;
    width: 48px;
    height: 20px;
    
}


h2{
  
   font-size: 40px;
  background: -webkit-linear-gradient(#eee, #999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-icon{
   
    height: 30px;
    width: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    
    
}
.search{
    
    width: 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(137, 137, 245);
}
.search-input{
    display: flex;
    justify-content: center;
  
    gap: 10px;
    margin-bottom: 10px;
    
}
input{
    color: #fff;
    width: auto;
    height: 40PX;
    border: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 28px;
    background-image: linear-gradient(to right, rgb(137, 137, 245),rgb(10, 120, 245) );
}
.humidity-icon{
    display: flex;
    margin: 10px;
    color: white;
    font-size: 32px;
    height: 90px;
    width: 80px;
    align-items: center;
    justify-content: center;
}
.wind-icon{
    display: flex;
    margin: 10px;
    color: white;
    font-size: 32px;
    height: 90px;
    width: 80px;
    align-items: center;
    justify-content: center;
}

.info-container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    align-items: center;
   
    
}
.data{
    
    
    justify-content: center;
    align-items: center; 
    text-align: center;
    padding-right: 5px;

    
}
.info{
   
    border: 2px;
    border-style: solid;
    border-color: rgb(137, 137, 300);
    background-image: linear-gradient(to right, rgb(137, 137, 245),rgb(10, 120, 245) );
    font-size: 25px;
    width: auto ;
    height: 160px;
    margin: auto;
    align-items: center;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 12px;
    background-color: darkorchid;
    
}



/* .today{
    color: white;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.wheather-container{
    
    align-items: start;
    justify-content: center;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px;
    border-style: solid;
    border-color: rgb(137, 137, 300);
    background-image: linear-gradient(to right, rgb(137, 137, 245),rgb(10, 120, 245) );
    width: 500px;
    height: 200px;
    border-radius: 20px;
    gap: 70px;
    padding: 20px;


}
.temp-loc{
    font-size: 22px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wheather-temp{
  
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wheather-img{
    align-items: center;
    justify-content: center;
    display: flex;

}
.wheather-icon{
    color: white;
   
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100px;
    width: 160px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
  
}

